@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

/* css variables */

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  color: var(--dark-violet);
  font-family: "Karla", sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", sans-serif;
}

h1,
h2 {
  font-weight: 400;
  font-size: 4em;
  letter-spacing: 2px;
  line-height: 1;
  position: relative;
  margin: 0;
  padding-top: 50px;
}

h3 {
  font-size: 1.5em;
}

p {
  opacity: 0.7;
}

.line-top::before {
  content: "";
  width: 150px;
  height: 1px;
  background-color: #fff;
  left: 0;
  top: 0;
  position: absolute;
}

.line-violet::before {
  background-color: var(--dark-violet);
}

.btn {
  background-color: transparent;
  padding: 15px 25px;
  border: 2px solid #fff;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-reverse {
  border-color: var(--dark-violet);
  color: var(--dark-violet);
  cursor: pointer;
}

.container {
  padding: 20px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex > div {
  flex: 1;
}

.align-start {
  align-items: flex-start;
}

/* Nav styling */
nav {
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-left: 30px;
}

nav li a {
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
  text-decoration: none;
}

/* Header styling */
header {
  background-color: var(--dark-violet);
  color: #fff;
  padding: 50px;
  position: relative;
  margin-bottom: 200px;
}

header::after {
  content: "";
  background-image: url("/images/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

header::before {
  content: "";
  background-image: url("/images/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: -40%;
  left: 0;
  height: 100%;
  width: 100%;
}

.ivan {
  margin-bottom: -250px;
}

/* Sectiom styling */
.bg-violet h2 {
  padding: 0;
  color: #fff;
  width: 75%;
}

.bg-violet {
  margin: 60px auto;
  background-color: var(--dark-violet);
  color: #fff;
  padding: 70px;
  position: relative;
}

.bg-violet::before {
  content: "";
  background-image: url("/images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 40% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.tiles {
  margin-top: 80px;
}

/* Footer styling */
footer {
  background-color: var(--very-light-gray);
  padding: 50px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url("/images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

footer h4 {
  text-transform: uppercase;
  color: var(--dark-grayish-violet);
  opacity: 0.8;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul.flex li {
  margin-left: 15px;
}

footer li {
  margin-bottom: 10px;
}

footer li a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-violet);
}

.border-bottom {
  border-bottom: 1px solid var(--grayish-blue);
  margin-bottom: 30px;
}
